# for OWSBot-Utils
git+https://github.com/owasp-sbot/OSBot-Utils.git@dev
python-dotenv

# for OWSBot-AWS
git+https://github.com/owasp-sbot/OSBot-AWS.git@dev
boto3

# for OSBot-Docker
git+https://github.com/owasp-sbot/OSBot-Docker.git@dev
docker

# for OSBot-Fast-API
git+https://github.com/owasp-sbot/OSBot-Fast-API.git@dev
fastapi
httpx
requests
uvicorn

# for testing
pytest
coverage
beautifulsoup4